---
Title: ShipStation Api Wrapper
---

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>ShipStation by michaelbonds</title>

  <link rel="stylesheet" href="stylesheets/styles.css">
  <!-- <link rel="stylesheet" href="stylesheets/syntax.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/css/tether.min.css">
  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAB+UlEQVRoQ+3Y0VHDMBAE0E0FUAJ0QAlQAZQAHdAJQwVAB1ABlEAHQAVABWQW4pmQcaLV3inRZOwvf8iy3p18kjXDnl2zPfNgAvWe0SlDU4a2HIFpyhUCfgTgBsApgEMxOV8AXgBcAeB96MrM0AmA5wrI6sCJOQPwGhFlgaKYwRBGZYCyMCmoKCgbE0ZFQK0wIZQLao0ZULcArmuKhANiOX4LVDN1fA8ALtXGQzsH9AjgXHjR92I9WleGmWWuPwcjfVkY9uOAPoXslDCDYQxlY1zQTyE7KmYMFcK0AjmLIzPF76WqAIwF1plyHPDYvF/u30EJn2W5iQNSi8JOUA6IZftdyFI5nH8tuthtbyq5KqS73XaXKGfKLUe2O1QURFxXqAxQV6gsUDeoTBBRLOn3i01pafFVqyHL+rF6gJINUgdZm9EnABdK57sE1aC4kDNLxSsLxI0l/3ucIyi1SkpjlRoVwkLM3WKOO+dq6u+8NFap0QbQgBma1G5IVcwHAJ7KFq8IaBVTi1Ix7Ld5UViHKUbQaMA/YGZHOvd2MrRtDA/+5WLjgNSqZCTj3yO1ZxO/DzugmvXDRVmYCKglysZEQS1QIUwGKBMVxmSB2E9kl00Ij4RZPaXSvOnDdIuC+7E3f24CNQ9x8AVThoIBbP74lKHmIQ6+YO8yNAdKVHc1voA1wAAAAABJRU5ErkJggg==">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>ShipStation</h1>
      <p>A php wrapper for ShipStation&#39;s api.</p>

      <p class="view"><a target="_blank" href="https://github.com/michaelbonds/ship-station">View the Project on GitHub <small>michaelbonds/ship-station</small></a></p>

      <ul>
        <li><a href="https://github.com/michaelbonds/ship-station/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/michaelbonds/ship-station/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a target="_blank" href="https://github.com/michaelbonds/ship-station">View On <strong>GitHub</strong></a></li>
      </ul>
    </header>
    <section>
      <h3>Endpoints</h3>
        <div class="row">
            {% for endpoint in site.data.endpoints %}
              <div class="col-sm-4">
                  <p>
                    <a href data-toggle="modal" data-target="#{{ endpoint.id }}">{{ endpoint.title }}</a>
                  </p>
              </div>
            {% endfor %}
        </div>

        <hr>

        <h3>Models</h3>
        <div class="row">
          {% for model in site.data.models %}
            <div class="col-sm-4">
              <p>
                <a href data-toggle="modal" data-target="#{{ model.id }}">{{ model.name }}</a>
              </p>
            </div>
          {% endfor %}
        </div>

        <!-- Endpoint Modals -->
        {% for endpoint in site.data.endpoints %}
          <div class="modal fade" id="{{ endpoint.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">{{ endpoint.title}}</h4>
                </div>
                <div class="modal-body">
                  {{ endpoint.file | endpoint }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <!-- Model Modals -->
        {% for model in site.data.models %}
          <div class="modal fade" id="{{ model.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">{{ model.name }}</h4>
                </div>
                <div class="modal-body">
                  {{ model.file | model }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/michaelbonds">michaelbonds</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-63433150-3");
      pageTracker._trackPageview();
    } catch(err) {}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script>
    $('pre').addClass('prettyprint');
    </script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  </body>
</html>
